<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sy.teamproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OneActivity" />
        <activity android:name=".oneByoneActivity" />
        <activity android:name=".TwoActivity" />
        <activity android:name=".ThreeActivity" />
        <activity android:name=".FourActivity" />
        <activity android:name=".oneBytwoActivity" />
        <activity android:name=".oneBythreeActivity" />
        <activity android:name=".oneByfourActivity" />
        <activity android:name=".oneByfiveActivity" />
        <activity android:name=".twoByoneActivity" />
        <activity android:name=".twoBytwoActivity" />
        <activity android:name=".twoBythreeActivity" />
        <activity android:name=".twoByfourActivity" />
        <activity android:name=".twoByfiveActivity" />
        <activity android:name=".threeByoneActivity" />
        <activity android:name=".threeBytwoActivity" />
        <activity android:name=".threeBythreeActivity" />
        <activity android:name=".threeByfourActivity" />
        <activity android:name=".fourByoneActivity" />
        <activity android:name=".fourBytwoActivity" />
        <activity android:name=".fourBythreeActivity" />
        <activity android:name=".fourByfourActivity"></activity>
    </application>

</manifest>